@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header-links {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: 600;
}

.logo-adjustment {
    padding-right: 150px;
}

footer a {
    background-color: #000000;
    color: #FAFAFA;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

footer {
    background-color: #000000;
    color: #FAFAFA;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
}

footer i {
    padding: 0 7px;
}

footer div {
    text-align: center;
}


/* -------------------------------------------------------------------------- BANNER */
.banner {
    background: url(../images/hero-image.png);
    background-size: cover;
    min-height: 500px;
    padding-top: 150px;
    font-family: "Raleway", sans-serif;
}

.banner h1 {
    font-size: 64px;
}

.banner h2 {
    font-size: 36px;
}

.banner a {
    background-color: #FF7A00;
    color: #FAFAFA;
    width: 150px;
    height: 50px;
    margin-top: 25px;
    font-weight: 700;
}

/* -------------------------------------------------------------------------- EXPLAINER */
.explainer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

/* -------------------------------------------------------------------------- SUB-HEADER */
.sub-header {
    font-family: "Raleway", sans-serif;
}

.sub-header h3 {
    font-size: 24px;
}

.sub-header h2 {
    font-size: 48px;
}

/* -------------------------------------------------------------------------- PAGE-CONTENT */
.page-content {
    font-family: "Raleway", sans-serif;
}

.page-content a {
    background-color: #FF7A00;
    color: #FAFAFA;
    width: 120px;
    height: 50px;
    font-weight: 700;
}

.page-content img {
    margin-bottom: 20px;
}

.page-content div div {
    padding-bottom: 30px;
}

/* -------------------------------------------------------------------------- CONTACT-FORM */
.contact-form {
    font-family: "Raleway", sans-serif;
}

.contact-form button {
    display: block;
    margin: auto;
    background-color: #FF7A00;
    color: #FAFAFA;
    height: 50px;
    font-weight: 700; 
    border: none;
}