@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header-links {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: 600;
}

.logo-adjustment {
    padding-right: 150px;
}

footer a {
    background-color: #000000;
    color: #FAFAFA;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

footer {
    background-color: #000000;
    color: #FAFAFA;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
}

footer i {
    padding: 0 7px;
}

footer div {
    text-align: center;
}


/* -------------------------------------------------------------------------- BANNER */
.banner {
    background: url(../images/hero-image.png);
    background-size: cover;
    min-height: 500px;
    padding-top: 150px;
    font-family: "Raleway", sans-serif;
}

.banner h1 {
    font-size: 64px;
}

.banner h2 {
    font-size: 36px;
}

.banner a {
    background-color: #FF7A00;
    color: #FAFAFA;
    width: 150px;
    height: 50px;
    margin-top: 25px;
    font-weight: 700;
}

/* -------------------------------------------------------------------------- EXPLAINER */
.explainer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

/* -------------------------------------------------------------------------- SUB-HEADER */
.sub-header {
    font-family: "Raleway", sans-serif;
}

.sub-header h3 {
    font-size: 24px;
}

.sub-header h2 {
    font-size: 48px;
}

/* -------------------------------------------------------------------------- PAGE-CONTENT */
.page-content {
    font-family: "Raleway", sans-serif;
}

.page-content a {
    background-color: #FF7A00;
    color: #FAFAFA;
    width: 120px;
    height: 50px;
    font-weight: 700;
}

.page-content img {
    margin-bottom: 20px;
}

.page-content div div {
    padding-bottom: 30px;
}

/* -------------------------------------------------------------------------- CONTACT-FORM */
.contact-form {
    font-family: "Raleway", sans-serif;
}

.contact-form button {
    display: block;
    margin: auto;
    background-color: #FF7A00;
    color: #FAFAFA;
    height: 50px;
    font-weight: 700; 
    border: none;
}

@media screen and (max-width: 768px) {
  html, body {
    font-size: 12px;
  }
}

 
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: .64s ease-in-out;
}
.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  background-color: #fff;
  transform: rotate(32deg);
  transition: .64s ease-in-out;
  box-shadow: 0 0 5px 2px #d9d9d9;
  border-radius: 0.25rem;
}

.popuptext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.closepopup {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: .875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #FF7A00;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}