@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header-links {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: 600;
}

.logo-adjustment {
    padding-right: 150px;
}

.hero-image, .hero-image img {
    width: 100%;
}

.hero-image {
    background: url(assets/images/hero-image.png);
    min-height: 500px;
}

footer a {
    background-color: #000000;
    color: #FAFAFA;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

footer {
    background-color: #000000;
    color: #FAFAFA;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
}

footer i {
    padding: 0 7px;
}

footer div {
    text-align: center;
}